.bg-clr {
    background: url(back2.jpg)
}

.button {
    position: fixed;
    bottom: 70px;
    left: 450px; 
}
.name
{
    margin-left: 48%;
}

.formclass
{
    margin-left: 25% ;
    margin-top : 5%;
}

.form1 {
    display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.margin
{
    margin-top: -3%;
    margin-left: 10%;
}

@media only screen and (max-width:670px)
{
    .form1
    {
        width :90%
    }
    .formclass
    {
        margin-left: 1%;
        margin-top:5%;
    }
}

